# Raíz
# (Ya no ignoramos .env aquí, usamos env/)

# Ignora env reales
env/.env.dev
env/.env.prod
!env/*.example
dev.db

# Docker Compose para ambientes no locales
docker-compose.dev.yml
docker-compose.prod.yml

# Python
__pycache__/
*/__pycache__/
*.pyc
venv/
.venv/

